/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(163, 173, 19, 0.664);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(137, 234, 33);
    color: #fffcfc;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #0489aa;
    color: white;
  }
  /* Styling of image1 */
  .img1{
    float: left;
    height: 400px;
    width: 800px;
    margin: 0px 0px 15px 20px;
    object-fit: cover;
  }